.window-bigCard{
    width: 42rem;
    display: flex;
    flex-direction: column;
}
.top-bigCard{
    height: 80%;
    width: 100%;
}
.top-bigCard img{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.bot-bigCard{
    height: 20%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 67rem) {
    .window-bigCard {
      width: 32rem; /* Zmniejsz szerokość diva do 50% */
      /* Możesz dodać więcej stylów, które mają być zastosowane poniżej 600px */
    }
  }
  @media (max-width: 57rem) {
    .window-bigCard {
      width: 20rem; /* Zmniejsz szerokość diva do 50% */
      /* Możesz dodać więcej stylów, które mają być zastosowane poniżej 600px */
    }
  }